---
import { getCollection } from 'astro:content';
import type { CollectionEntry } from 'astro:content';
import BaseLayout from '@/layouts/BaseLayout.astro';
import ContentCard from '@components/ContentCard.astro';

const apps = (await getCollection('apps')) as Array<CollectionEntry<'apps'>>;
const visibleApps = apps
    .filter((app) => !app.data.draft)
    .sort((a, b) => b.data.date.valueOf() - a.data.date.valueOf());
---

<BaseLayout
    title="Apps | Awesome Bharat"
    description="Amazing apps made by Indians, with love, for the globe"
>
    <div class="max-w-7xl mx-auto px-4 py-10 sm:px-6 lg:px-8">
        <header class="mb-8">
            <h1 class="text-3xl font-bold mb-2">Apps</h1>
            <p class="text-base text-gray-600 dark:text-gray-400">
                Amazing apps made by Indians, with love, for the globe
            </p>
        </header>

        <div
            class="grid
        grid-cols-[repeat(auto-fit,minmax(140px,1fr))]
        sm:grid-cols-[repeat(auto-fit,minmax(160px,1fr))]
        md:grid-cols-[repeat(auto-fit,minmax(180px,1fr))]
        gap-x-2
        gap-y-8
        justify-items-center"
        >
            {
                visibleApps.map((app) => (
                    <ContentCard
                        title={app.data.title}
                        href={`/apps/${app.slug}`}
                        image={app.data.logo}
                        slug={app.slug}
                        tags={app.data.tags}
                    />
                ))
            }
        </div>
    </div>
</BaseLayout>
