---
import { Image } from 'astro:assets';
import type { CollectionEntry } from 'astro:content';
import { resolveLogo } from '../utils/imageResolvers.ts';

interface Props {
    item: CollectionEntry<'apps' | 'persons' | 'companies'>;
    collection: 'apps' | 'persons' | 'companies';
    resolved?: Record<string, CollectionEntry<'persons'>>;
}

const { item, collection, resolved } = Astro.props;

const href = `/${collection}/${item.slug}`;
const resolvedImage = resolveLogo(item.slug, item.data.logo);
---

<a
    href={href}
    class="group block m-2 p-3 overflow-hidden rounded-lg hover:scale-95 shadow-xl shadow-primary-200 dark:shadow-primary-800/50 hover:shadow-primary-400/50 dark:hover:shadow-primary-900/50 transition-all duration-200"
>
    <div
        class="space-y-2 gap-x-2 sm:gap-x-2 lg:gap-x-2 grid grid-cols-2"
    >
        <div
            class="row-span-1 col-span-1 rounded-xl flex items-center justify-center"
        >
            <div class="w-12 h-12 flex-shrink-0 rounded-lg overflow-hidden">
                <Image
                    class="w-full h-full object-contain"
                    src={resolvedImage}
                    alt={item.data.title}
                    loading="eager"
                    format="webp"
                />
            </div>
        </div>

        <div
            class="row-span-1 col-span-1 flex flex-col items-start"
        >
            <h4
                class="text-xs font-small text-gray-900 dark:text-gray-100 line-clamp-2 transition-colors line-clamp-1"
            >
                {item.data.title}
            </h4>
            {
                resolved && (
                    <div class="row-span-2 col-span-3 text-xs text-gray-600 dark:text-gray-400 line-clamp-1">
                        <span class="text-gray-500 dark:text-gray-500">by </span>
                        <span class="font-small">{resolved?.author?.data?.name}</span>
                    </div>
                )
            }
        </div>
        

        <div class="col-span-2 items-end justify-center gap-1">
            <div class="flex flex-wrap items-end justify-center gap-3">
                <span
                    class={`min-w-0 px-3 py-2 rounded-full ring-1 text-black bg-green font-small text-center leading-tight text-xs line-clamp-2 text-black dark:text-white ${
                        item.data.paid ? 'ring-red-400' : 'ring-green-600'
                    }`}
                >
                    {item.data.paid ? 'Paid' : 'Free'}
                </span>
                <span
                    class={`min-w-0 px-3 py-2 rounded-full ring-1 text-black font-small text-center leading-tight text-xs text-balance line-clamp-2 text-black dark:text-white ${
                        item.data.source === 'open-source'
                            ? 'ring-green-600'
                            : 'ring-red-400'
                    }`}
                >
                    {item.data.source === 'open-source' ? 'Open Source' : 'Closed Source'}
                </span>
            </div>
        </div>
    </div>
</a>
